@mixin data-table($width:133px,$height:30px){
	border-radius: 10px;
	border:1px solid $thead-bgcolor;
	thead{
		background-color:$thead-bgcolor;
	}
	td,th{
		width:$width;
		height:$height;
		text-align: center;
	}
	td{
		border-bottom:1px solid $thead-bgcolor;
		color: $font-color;
	}
}