.section{
	width: $container-width;
	margin: 20px auto;
	h2{
		margin: 20px 0;
		font-weight: bold;
	}
}
%grid{
	width: 133px;
	height: 30px;
	text-align: center;
}
.data-table{
	border-radius: 10px;
	thead{
		background-color:$thead-bgcolor;
	}
	td{
		@extend %grid;
		border-bottom:1px solid $border-color;
		color: $font-color;
	}
	th{
		@extend %grid;
	}
}