@import './common/var';
body{
	font-size: 14px;
	cursor: default;
	color: $font-grey;
}
a{
	cursor: pointer;
}
@import "./common/header";
.section{
	width: $container-width;
	margin: 20px auto;
	h2{
		margin: 20px 0;
		font-weight: bold;
	}
}
@import "./common/table";
table{
	@include data-table(133px,30px);//table 里面定制了一个混合器，传入参数控制单元格的宽和高度
}